@import 'additional/reset';
@import 'additional/variables';
@import 'additional/mixins';
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Inter&display=swap);

html {
   font-size: calc(1vw / 19.2);
}

.App {
   min-height: 100vh;
   position: relative;
   @include container-vertical;
}

.outer__container {
   padding: 0 16rem;
}

.container {
   max-width: 1170rem;
   width: 100%;
}

.container-vertical {
   @include container-vertical;
}

.container-horisontal {
   @include container-horisontal;
}

.preloader {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #ffffff7f;
   z-index: 10;
   transition: all 0.2s ease-in-out;
   justify-content: center;

   &__gif {
      width: 100rem;
   }

   &_absolute {
      position: absolute;
   }
}


.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   /* pointer-events: none; */
   background: #0000004a;
   z-index: 11;
   transition: all 0.2s ease-in-out;

   &.show {
      opacity: 1;
      visibility: visible;
   }

   &.hide {
      opacity: 0;
      visibility: hidden;
   }

}

.logo__text {
   @include logo__text;
}

.text__button {
   @include text__button;
}

.headline {
   @include headline;
}

.title {
   @include title;
}

.subtitle {
   @include subtitle;
}

.text {
   @include text;
}

.text_light {
   @include text_light;
}

.text_accent {
   @include text_accent;
}

.text_alternates {
   @include text_alternates;
}

.cat {
   color: $cat;
   font-size: 15rem;
   font-weight: 500;
   transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
}

.dog {
   color: $dog;
   font-size: 15rem;
   font-weight: 500;
   transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
}

.phone {
   color: #000;
   font-family: Montserrat;
   font-size: 20rem;
   font-style: normal;
   font-weight: 500;
   flex-shrink: 0;
   line-height: 24rem;
}

.form__success {
   color: #005c09;
}

.form__error {
   color: red;
}

.button__icon_arrow {
   width: 9.5rem;
   height: 9.5rem;
   transition: all 0.2s ease-in-out;
}

.close__icon {
   width: 47rem;
   height: 47rem;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.2s ease-in-out;

   &:hover {
      background-color: #F1E6FF;
   }
}

.main {
   width: 100%;
   flex: 1 0 auto;
   /* min-height: 100vh; */
}

.page-container {
   padding: 125rem 0 80rem;
   width: 100%;
}

@import 'components/base/Header/header';
@import 'components/base/Menu/menu';
@import 'components/Home/Banner/banner';
@import 'components/Home/Promo/promo';
@import 'components/base/Slider/slider';
@import 'components/Home/Popular/popular';
@import 'components/base/ProductCard/product_card';
@import 'components/base/Button/button';
@import 'components/base/ForCatDogButton/for_cat_dog_button';
@import 'components/Home/Reviews/reviews';
@import 'components/base/ReviewCard/review_card';
@import 'components/Home/About/about';
@import 'components/base/Footer/footer';
@import 'components/modals/ModalLayout/modal_layout';
@import 'components/modals/AuthModal/auth_modal';
@import 'components/modals/CartModal/cart_modal';
@import 'components/base/CartItem/cart_item';
@import 'components/Catalog/catalog';
@import 'components/base/Breadcrumbs/breadcrumbs';
@import 'components/Catalog/Category/category';
@import 'components/Catalog/Filter/filter';
@import 'components/Catalog/Sort/sort';
@import 'components/Catalog/Pagination/pagination';
@import 'components/Product/product';
@import 'components/Product/ProductPhotos/product_photos';
@import 'components/Product/ProductOptions/product_options';
@import 'components/Product/ProductContent/product_content';
@import 'components/Product/ProductNavigation/product_navigation';
@import 'components/Product/ProductReviews/product_reviews';
@import 'components/Product/AddReview/add_review';
@import 'components/Product/ProductDescription/product_description';
@import 'components/Checkout/checkout';

/* media */

@import 'style_media';
@import 'components/base/Header/header_media';
@import 'components/base/Menu/menu_media';
@import 'components/Home/Banner/banner_media';
@import 'components/Home/Promo/promo_media';
@import 'components/base/Slider/slider_media';
@import 'components/Home/Popular/popular_media';
@import 'components/base/ProductCard/product_card_media';
@import 'components/base/Button/button_media';
@import 'components/base/ForCatDogButton/for_cat_dog_button_media';
@import 'components/Home/Reviews/reviews_media';
@import 'components/base/ReviewCard/review_card_media';
@import 'components/Home/About/about_media';
@import 'components/base/Footer/footer_media';
@import 'components/modals/ModalLayout/modal_layout_media';
@import 'components/modals/AuthModal/auth_modal_media';
@import 'components/modals/CartModal/cart_modal_media';
@import 'components/base/CartItem/cart_item_media';