@include sm {
    .modal {
        
        &__top, &__container {
            padding: 20rem;
        }

        &__header{
            gap:10rem;
        }

        &__icon{
            width: 32rem;
            height: 32rem;
        }
            
        // .modal__container
    
        &__container {
            gap: 20rem;
        }
    }
}