@include sm {
    .modal {
        
        &__header, &__container {
            padding: 20rem;
        }
        
        // .modal__container
    
        &__container {
            gap: 20rem;
        }
    
        .close {
    
            // .close__icon
    
            &__icon {
                width: 32rem;
                height: 32rem;
            }
        }
    }
}