.header {
    width: 100%;
    position: fixed;
    justify-content: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
    z-index: 11;
    transition: all 0.1s ease-in-out;

    &_scrolled {
        background: #fff;
    }

    // .header__container

    &__container {
        gap: 49.92rem;
        height: 55rem;
    }

    // .header__logo

    &__logo {
        gap: 15.68rem;
        width: fit-content;
        flex-shrink: 0;
    }

    .logo {

        &__text {
            color: #000;
        }

        // .logo__icon

        &__icon {
            width: 36.32rem;
        }
    }

    // .header__nav

    &__nav {
        width: 100%;

        .nav__list {
            gap: 40rem;
            justify-content: center;
            flex-shrink: 0;

            &__item {
                a {
                    font-family: Montserrat Alternates;
                    font-size: 15rem;
                    font-weight: 400;
                    color: #000;
                    text-decoration: none;
                }

                b {
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }

    // .header__buttons

    &__buttons {
        gap: 50rem;
        flex-shrink: 0;

        .profile {
            width: 26rem;
            flex-shrink: 0;
            cursor: pointer;
        }

        .header__cart {
            gap: 10.08rem;
            padding-bottom: 5rem;

            &__button {
                cursor: pointer;
                position: relative;
                justify-content: center;
                width: 50rem;
                height: 50rem;
                flex-shrink: 0;
                border-radius: 50%;
                background: #8936FF;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            }

            &__icon {
                width: 26rem;
            }

            &__number {
                position: absolute;
                bottom: -6rem;
                right: -6rem;
                padding: 1.92rem 7.04rem 2.08rem;
                border-radius: 50%;
                background: $gradient;
                color: #FFF;
                text-align: center;
                font-family: Montserrat;
                font-size: 15rem;
                font-weight: 500;
            }

            &__sum {
                font-family: Montserrat;
                font-size: 15rem;
                font-weight: 500;
            }
        }
    }
}