@include sm {
    .button {
        padding: 10rem;
        gap: 5rem;
    
        // .button__text
    
        &__text {
            font-size: 16rem;
        }
    
        // .button__icon
    
        &__icon{
            width: 16rem;
        }

            // .button_oauth

    &_oauth {
        .button__text {
            display: none;
        }

        .button__icon{
            width: 16rem;
            height: 16rem;
        }
    }

    }    
}