@include md {
    .section-comments {
        height: 858rem;
        background: linear-gradient(80deg, #964BFF 6.76%, #722AD8 97.75%);

        .SM, .PC{
            display: none;
        }

        .MD{
            display: block;
        }

        // .section-comments__background

        &__background {
            height: 100%;
        }

        // .section-comments__container

        &__container {
            justify-content: flex-start;
            gap: 44rem;
            padding: 89rem 0rem 236.56rem;
        }

        .comments__slider {
            gap: 17rem;

            // .comments__slider__dots

            &__dots {
                bottom: -128rem;
            }
        }

        .slider__dots {
            &__item {
                width: 20rem;
                height: 20rem;
            }
        }

        .slider__button {
            position: absolute;
            bottom: -146.6rem;
            right: 126rem;

            &:first-child {
                left: 126rem;
            }
        }
    }
}

@include sm {
    .section-comments {
        height: 655px;
        background: linear-gradient(80deg, #964BFF 6.76%, #722AD8 97.75%);

        .PC{
            display: none;
        }

        .SM, .MD{
            display: block;
        }

        // .section-comments__background

        &__background {
            height: 100%;
        }

        // .section-comments__container

        &__container {
            justify-content: flex-start;
            gap: 24rem;
            padding: 51rem 0rem 118.6rem;
        }

        .comments__slider {
            gap: 17rem;

            // .comments__slider__dots

            &__dots {
                bottom: -69rem;
                gap:26rem;
            }
        }

        .slider__dots {
            &__item {
                width: 15rem;
                height: 15rem;
            }
        }

        .slider__button {
            display: none;
        }
    }
}