@include md {
    .reviews {
        background: linear-gradient(80deg, #964BFF 6.76%, #722AD8 97.75%);

        .SM,
        .PC {
            display: none;
        }

        .MD {
            display: block;
        }

        &::before {
            bottom: 0;
            left: -334rem;
            height: 95.7%;
        }

        // .reviews__container

        &__container {
            justify-content: flex-start;
            gap: 44rem;
            padding: 89rem 0rem 236.56rem;
        }

        .reviews__slider {
            gap: 17rem;

            &__container {
                swiper-container::part(pagination) {
                    bottom: -128rem;
                }

                swiper-container::part(bullet) {
                    width: 20rem;
                    height: 20rem;
                }

                swiper-container::part(bullet-active) {
                    width: 20rem;
                    height: 20rem;
                }
            }
        }


        .slider__button {
            position: absolute;
            bottom: -146.6rem;
            right: 126rem;

            &:first-child {
                left: 126rem;
            }
        }
    }
}

@include sm {
    .reviews {
        background: linear-gradient(80deg, #964BFF 6.76%, #722AD8 97.75%);

        .PC {
            display: none;
        }

        .SM,
        .MD {
            display: block;
        }

        &::before {
            top: 0;
            left: 0;
            background-image: url("./../../../../../public/images/dogbgSM.webp");
            height: 100%;
        }

        // .reviews__container

        &__container {
            justify-content: flex-start;
            gap: 24rem;
            padding: 50rem 0rem 119rem;
        }

        .reviews__slider {
            gap: 17rem;

            &__container {
                swiper-container::part(pagination) {
                    bottom: -69rem;
                    gap: 26rem;
                }

                swiper-container::part(bullet) {
                    width: 15rem;
                    height: 15rem;
                }

                swiper-container::part(bullet-active) {
                    width: 15rem;
                    height: 15rem;
                }
            }
        }

        .slider__button {
            display: none;
        }
    }
}