@include md {
    .section-popular {
        padding: 80rem 16rem;
        gap: 51rem;

        // .section-popular__container

        &__container {
            gap: 40rem;
        }

        .populars {
            height: 401rem;
            width: 100%;
            gap: 15.5rem;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
        }

        .for-cat-dog__container {
            gap: 16.5rem;
        }
    }
}

@include sm {
    .section-popular {
        padding: 51rem 16rem 50rem;
        gap: 39rem;

        // .section-popular__container

        &__container {
            gap: 29rem;
        }

        .populars {
            height: fit-content;
            width: 100%;
            gap: 13rem 14rem;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: visible;
        }

        .for-cat-dog__container {
            gap: 14rem;
        }
    }
}