.menu {
    position: absolute;
    top: -390rem;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 0 0 $border-radius $border-radius;
    transition: all 0.5s ease-in-out;
    z-index: 12;

    &.show {
        transform: translateY(389rem);
    }

    &.hide {
        transform: translateY(0rem);
    }

    // .menu__container

    &__container {
        display: none;
    }

    // .menu__button

    &__button {
        flex-shrink: 0;
        cursor: pointer;

        img {
            width: 38rem;
        }
    }

    // .menu__header

    &__header {
        width: 100%;
        padding: 24.5rem 16rem 25.5rem;
    }

    hr {
        border: 1rem solid $light-grey;
        width: 100%;
    }

    //.menu__bottom

    &__bottom {
        width: 100%;
        padding: 37rem 16rem 78rem;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header {

        // .header__nav

        &__nav {
            display: block;
        }
    }

    .nav {

        // .nav__list

        &__list {

            height: 143rem;
            gap: 35rem;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            &__item a {
                font-size: 20rem;
                line-height: 24rem;

                b {
                    font-size: 20rem;
                }
            }
        }
    }

    .phone{
        display: none;
    }
}