$gradient: linear-gradient(92deg, #F28C05 0%, #FFBC05 100%), #FFEAEA;
$accent: #8936FF;
$dark: #5F23B4;
$dark-grey: #5A5A5A;
$grey: #D1D1D1;
$light-grey: #EEE;
$light-purple: #F8F2FF;
$input: #D7D7D7;
$cat: #FFBC1A;
$dog: #AF7866;
$transparent-white: #ffffff33;
$subscribe-bg: linear-gradient(180deg, #893EF4 0%, #722AD8 100%);
$footer-bg: linear-gradient(180deg, #5F23B4 0%, #4E1D94 100%);
$border-radius: 20rem;