.review-card {
    width: 368rem;
    padding: 40rem 40rem 47rem 41rem;
    align-items: flex-start;
    gap: 20rem;
    border-radius: $border-radius;
    background: #FFF;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    // .review-card__date

    &__date {
        color: $dark-grey;
        font-family: Montserrat;
        font-size: 13rem;
        font-weight: 400;
        height: 13rem;
    }

    // .review-card__header

    &__header {
        width: 100%;
    }

    // .review-card__name

    &__name {
        font-family: Montserrat;
        font-size: 15rem;
        font-weight: 500;
    }

    // .review-card__stars

    &__stars {
        gap: 7.36rem;
        flex-shrink: 0;

        // .review-card__stars__item

        &__item {
            width: 19.36rem;
            flex-shrink: 0;
        }
    }

    // .review-card__photos

    &__photos {
        justify-content: flex-start;
        gap: 9.92rem;

        // .review-card__photos__item

        &__item {
            width: 64rem;
            height: 66rem;
            border-radius: 10rem;
            cursor: pointer;
        }

        // .review-card__photos__more

        &__more {
            border: 1px solid $accent;
            justify-content: center;

            // .review-card__photos__more__text

            &__text {
                color: $accent;
                font-family: Inter;
                text-decoration-line: underline;
            }
        }
    }

    // .review-card__link

    &__link {
        gap: 16rem;
        font-size: 14rem;
        color: $accent;
        flex-shrink: 0;
        text-decoration: none;

        // .review-card__link__icon

        &__icon {
            width: 9.5rem;
            height: 9.5rem;
        }
    }
}