@include md {
    .slider {

        // .slider__button

        &__button {
            position: absolute;
            right: 16rem;

            &:first-child {
                left: 16rem;
            }
        }

        // .slider__dots

        &__dots {
            bottom: 21rem;
            gap: 30rem;

            // .dots__item

            &__item {
                width: 17rem;
                height: 17rem;
            }
        }


    }

    swiper-container::part(pagination) {
        bottom: 21rem;
    }

    swiper-container::part(bullet) {
        width: 17rem;
        height: 17rem;
    }

    swiper-container::part(bullet-active) {
        width: 17rem;
        height: 17rem;
    }
}

@include sm {
    .slider {

        // .slider__button

        &__button {
            display: none;
        }

        // .slider__dots
    }

    swiper-container::part(pagination) {
        bottom: 30rem;
    }

    swiper-container::part(bullet) {
        width: 15rem;
        height: 15rem;
    }

    swiper-container::part(bullet-active) {
        width: 15rem;
        height: 15rem;
    }
}