.slider {

    // .slider__button

    &__button {
        display: block;
        width: 59rem;
        border-radius: 50%;
        cursor: pointer;
    }

    // .slider__dots

    &__dots {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 40rem;
        align-items: center;
        justify-content: center;
        gap: 20rem;
        list-style-type: none;

        // .dots__item

        &__item {
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            background: $transparent-white;
            cursor: pointer;
            // .dots__item_active

            &_active {
                background: #FFF;
            }
        }
    }
}