.modal {

	&__container {
        grid-template-areas:
            "modal__form oauth";
    }

	// .modal__form

	&__form {
		width: 406rem;
		gap: 20rem;
		align-items: flex-start;

		.form {

			// .form__input

			&__input {
				width: 100%;
				padding: 26rem 30rem;
				border-radius: $border-radius;
				border: 1px solid $input;

				&::placeholder {
					color: #000;
				}

				&_error{
					border: 1px solid red;
				 }
			}

			// .form__middle

			&__middle__container {
				width: 100%;
			}

			// .form__text-button

			&__text-button {
				color: $accent;
				text-align: center;
				transition: all 0.2s ease-in-out;

				&:hover{
					color: $dark;
					text-decoration: underline;
				}
			}
		}

		.checkbox {
			
			gap: 12rem;

			// .checkbox__input

			&__input {
				position: absolute;
				z-index: -1;
				opacity: 0;
			}

			// .checkbox__label

			&__label {
				display: inline-flex;
				align-items: center;
				user-select: none;
			}
		}

		.checkmark {
			position: relative;
			display: inline-block;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			border: 1px solid $input;
			padding: 5rem;
		}

		.checkbox__input:checked+.checkmark::after {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 18rem;
			height: 18rem;
			border-radius: 50%;
			background: $accent;
		}
	}

	.button {
		width: 100%;
		padding: 16rem;
		height: fit-content;

		.text__button{
			font-size: 14rem;
		}
	}


	.oauth {
		width: 329rem;
		gap:20rem;
		align-items: flex-start;
		justify-content: flex-start;
	}
}